/*
*   Agora você precisará entender um pouco de CSS e HTML para continuar o desafio! :D
*/

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: url('../assets/jpg/background.jpg') no-repeat center top;
    background-size: 100% 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.container-scroll {
    overflow: hidden scroll;
    width: 100%;
    height: calc(100vh - 200px);
    background:none;
    position: absolute;
}

.container-background {
    width: 100%;
    height: calc(100vh - 200px);
    background-attachment: fixed;
    background: inherit;
    position: absolute;
}

.container-background:before{
    content: '';
    left: -50px;
    width: calc(100vw + 50px);
    height: calc(100vh - 200px);
    background: inherit; 
    position: absolute;
    left: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
    filter: blur(10px);
    z-index: 1px;
}

.content {
    width: calc(100vw - 60px);
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
}

.logo {
    margin: 50px auto;
    display: block;
}
.mensagem {
    padding: 10px;
    border: 1px solid #999;
    display: block;
    width: 60%;
    text-align: center;
    opacity: 0;
    margin: 50px auto;
    font-size: 16px;
    color: #999;
    visibility: hidden;
    text-transform: uppercase;
    text-indent: -999999px;
}

.btn-close {
    display: block !important;
    position: absolute;
    top: 5px;
}

.btn-color {
    color: #fff;
}

.small-font {
    font-size: .7rem;
    line-height: .15rem;
}

.header-font {
    font-size: 2.4rem !important;
}

.card-header-background {
    background-color: rgba(0,0,0,.05) !important;
}

.card-background {
    background: none !important;
}

.medium-card {
    height: 190px;
}

.vagas-encerradas {
    color: #333;
}