<html lang="en" ng-app="wooza" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
  <meta charset="UTF-8">
  <title>Oportunidade Javascript Developer - Wooza</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body ng-controller="MainController as vm" class="ng-scope" cz-shortcut-listen="true">

  <img src="assets/png/logo.png" alt="" class="logo">
  <div class="container-background"></div>
  <div class="container-scroll container-fluid text-center align-middle">
    <div class="content">
      <div ng-if="!vm.formulario">
        <div class="row mb-4">
          <div class="col text-uppercase">
            <span class="display-4 header-font">Celular Direto</span>
          </div>
        </div>
        <plataformas></plataformas>     
        <planos></planos>
        <formulario></formulario>     
      </div>
    </div>
  </div>


  <script src="utils/base64.js"></script>
  <script src="libs/js/is.min.js"></script>
  <script src="libs/js/global.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="main.js"></script>
  <script src="services/min/MainService.min.js"></script>
  <script src="services/celulardireto.service.js"></script>
  <script src="services/service.http.js"></script>
  <script src="constants/api.js"></script>

</body></html>