<div class="card card-background mt-3" ng-if="vm.getFromFormulario()">
    <div class="card-header card-header-background mb-2">Formulário<div ng-click="vm.closeForm()" class="btn btn-danger btn-color btn-close">X</div></div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" placeholder="Digite seu nome" ng-model="vm.cliente.nome" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" placeholder="Digite seu email" ng-model="vm.cliente.email" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Data de nascimento</label>
                <input type="date" class="form-control" placeholder="dd/mm/aaaa" ng-model="vm.cliente.nascimento" required
                onkeyup="var v = this.value;if (v.match(/^\d{2}$/) !== null) {this.value = v + '/';} else if (v.match(/^\d{2}\/\d{2}$/) !== null) {this.value = v + '/';}"
                maxlength="10">
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">CPF</label>
                <input type="number" min="0" max="99999999999" class="form-control" ng-model="vm.cliente.cpf" placeholder="Digite seu CPF" required maxlength="11">
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Telefone</label>
                <input type="number" min="0" max="99999999999" class="form-control" ng-model="vm.cliente.telefone" placeholder="Digite seu telefone" required maxlength="11">
                <div class="invalid-feedback"></div>
            </div>
            <button type="submit" ng-click="vm.setFormulario()" class="btn btn-primary btn-color">Ok</button>
        </form>
    </div>
</div>