<div class="card card-background mt-3" ng-if="vm.getFromPlanos()">
          <div class="card-header card-header-background mb-2">Planos</div>
          <div class="card-body">
            <div class="row">
              <div class="col" ng-repeat="plano in vm.getFromPlanos()" ng-if="plano.ativo">
                <div class="card medium-card">
                  <div class="card-body">
                    <p class="card-title">{{plano.franquia}}</p>
                    <p class="card-text"><h4>{{plano.valor}}</h4></P>
                  </div>
                  <div class="card-footer bg-transparent border-light"><div ng-click="vm.setPlano($index)" class="btn btn-primary btn-color">Ok</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>   