<div class="card card-background" ng-if="vm.getFromPlataformas()">
        <div class="card-header card-header-background mb-2">Plataformas</div>
        <div class="card-body">
          <div class="row">
            <div class="col" ng-repeat="plataforma in vm.getFromPlataformas()">
              <div class="card medium-card">
                <div class="card-body">
                  <p class="card-text"><h4>{{plataforma.nome}}</h4></p>
                  <p class="card-text small-font" ng-repeat="desc in plataforma.descricao.split('|')">{{desc}}</P>
                </div>
                <div class="card-footer bg-transparent border-light"><div ng-click="vm.getPlanos($index)" class="btn btn-primary btn-color">Ok</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>